webapp/.phpunit.cache
webapp/node_modules
webapp/public/build
webapp/public/hot
webapp/public/storage
webapp/storage/*.key
webapp/storage/logs/*
webapp/storage/debugbar/*
webapp/storage/framework/testing/*
webapp/storage/framework/sessions/*
webapp/storage/framework/cache/*
webapp/storage/framework/views/*
webapp/vendor
.env
.env.testing
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
webapp/.fleet
webapp/.idea
webapp/.vscode
.DS_Store
docker/data
docker/data_test
webapp/node_modules
webapp/report